.category-modal {
	.ant-upload-picture-card-wrapper {
		height: 70px;

		.ant-upload,
		.ant-upload-list,
		.ant-upload-list-picture-card-container {
			height: 70px;
			width: 70px;
		}
	}

	.ant-upload-list {
		.picture {
			display: none;
		}
	}
}
