<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/css/login.css">
		<title>Document</title>
	</head>
	<body>
		<div class="container">
			<div class="login-form">
				<div class="text">注册</div>
				<form action="/register" method="post">
					<div class="form-item">
						<input type="email" name="email" placeholder="邮箱">
						<input type="text" name="username" placeholder="用户名">
						<input type="password" name="password" placeholder="密码">
					</div>
					<button disabled class="btn">注册</button>
				</form>
				<div class="btn-back"></div>
				<div class="other">
					没有账号？<a href="/login">去登录</a>
				</div>
			</div>
		</div>
		<script>
			let formDiv = document.querySelector('form')
			let inputs = document.querySelectorAll('form input')
			let btn = document.querySelector('.btn')
			formDiv.oninput = () => {
				let isAble = true
				// 判断是否有内容为空
				inputs.forEach((item, i) => {
					console.log(item.value)
					if (!item.value) {
						isAble = false
					}
				})
				console.log(isAble)
				if (isAble) {
					btn.disabled = false
				}
			}
			
		</script>
	</body>
</html>
