$flag: false;
$theme: light;

body {
	@if $theme == dark {
		background-color: black;
	} @else if $theme == light {
		background-color: white;
	} @else {
		background-color: gray;
	}
}

.rounded {
	@if $flag {
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-ms-border-radius: 5px;
		-o-border-radius: 5px;
	}
	border-radius: 5px;
}