<!DOCTYPE html>
<html>
  <head>
    <title>搜索首页</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	 <!-- <p>使用get</p>
    <form action="/search1" method="get">
		<input type="text" name="searchKey">
		<input type="text" name="username">
		<input type="submit" value="搜索">
	</form> -->
	<p>使用post</p>
	<form action="/search1" method="post">
		<input type="text" name="username">
		<input type="password" name="password">
		<input type="submit" value="搜索">
	</form>
  </body>
</html>
