<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shiro.mapper.UserMapper">
    <!--<resultMap id="userMap" type="User">-->
    <!--    <id column="uid" property="id" />-->
    <!--    <result column="username" property="username"/>-->
    <!--    &lt;!&ndash;角色信息&ndash;&gt;-->
    <!--    <collection property="roles" javaType="list" ofType="Role">-->
    <!--        <id column="id" property="id"/>-->
    <!--        <result column="rname" property="name"/>-->
    <!--    </collection>-->
    <!--</resultMap>-->

    <!--<select id="findRolesByUsername" resultType="com.example.shiro.entity.Role" resultMap="userMap">-->
    <!--    select u.id uid, u.username, r.id, r.name rname-->
    <!--    from user u, user_role ur, role r-->
    <!--    where r.id = ur.roleid-->
    <!--    and u.id = ur.userid-->
    <!--    and u.username = #{username}-->
    <!--</select>-->
    <select id="getUser" resultType="com.example.shiro.entity.User">
        select * from user where id = #{id}
    </select>
</mapper>