<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
"http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
    <property name="viewNames" value="*.jsp" />
</bean>
	<bean id="velocityConfig"
		class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
		<property name="resourceLoaderPath" value="/" />
		<property name="velocityProperties">
			<props>
				<prop key="input.encoding">GBK</prop>
				<prop key="output.encoding">GBK</prop>
			</props>
		</property>
	</bean>
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.velocity.VelocityViewResolver">
		<property name="contentType">
			<value>text/html;charset=GBK</value>
		</property>
	</bean>

	<bean id="urlMapping"
		class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<!--
			<property name="interceptors"> 
				<bean class="util.RequestEncodingInterceptor"></bean>
			</property>
		-->
		  
		<property name="urlPathHelper">
			<bean class="org.springframework.web.util.UrlPathHelper">
				<property name="urlDecode" value="true"></property>
				<property name="defaultEncoding" value="UTF-8"></property>
			</bean>
		</property>
		
		<property name="mappings">
			<props>
				<prop key="/setup.do">Setup</prop>
				<prop key="/login.do">Login</prop>
				<prop key="/WEB-ROOT/app/index.do">index</prop>
				<prop key="/WEB-ROOT/app/index/home.do">home</prop>
				<prop key="/WEB-ROOT/app/topPanel.do">topPanel</prop>
				<prop key="/WEB-ROOT/app/menuTree.do">MenuTree</prop>
				<prop key="/WEB-ROOT/app/sysManage/systemUserManage.do">SystemUserManage</prop>
				<prop key="/WEB-ROOT/app/sysManage/userMenuManage.do">UserMenuManage</prop>
				<prop key="/WEB-ROOT/app/sysManage/orgManage.do">OrgManage</prop>
				<prop key="/WEB-ROOT/app/sysManage/setting.do">Setting</prop>
				<prop key="/WEB-ROOT/app/util/ext/userCombo.do">UserCombo</prop>
				<prop key="/WEB-ROOT/app/util/ext/orgComboTree.do">OrgComboTree</prop>
				<prop key="/WEB-ROOT/app/helper/db.do">DB</prop>
				<prop key="/WEB-ROOT/app/helper/code.do">Code</prop>
				<prop key="/WEB-ROOT/app/helper/tech.do">Tech</prop>
				<prop key="/WEB-ROOT/app/helper/setup.do">HowSetup</prop>
				<prop key="/WEB-ROOT/app/helper/uninstall.do">Uninstall</prop>	
				<prop key="/WEB-ROOT/front/index/index.do">FrontIndex</prop>
				<prop key="/WEB-ROOT/app/wangzhanguanli/lanmuguanli.do">LANMUGUANLI</prop> 
				<prop key="/WEB-ROOT/app/wangzhanguanli/shouyehuandengpian.do">SHOUYEHUANDENGPIAN</prop> 
				<prop key="/WEB-ROOT/app/wangzhanguanli/wenzhangguanli.do">WENZHANGGUANLI</prop>
				<prop key="/WEB-ROOT/app/sysManage/systemRoleManage.do">SYSTEMROLEMANAGE</prop> 
				<prop key="/WEB-ROOT/app/sysManage/roleMenuManage.do">RoleMenuManage</prop>



<prop key="/WEB-ROOT/app/jianshenjibenshezhi/kechengleixing.do">KECHENGLEIXING</prop> 
<prop key="/WEB-ROOT/app/jianshenjibenshezhi/jiaoliandengji.do">JIAOLIANDENGJI</prop> 
<prop key="/WEB-ROOT/app/jianshenjibenshezhi/zhifufangshi.do">ZHIFUFANGSHI</prop> 
<prop key="/WEB-ROOT/app/jianshenjibenshezhi/shoukeshijianduan.do">SHOUKESHIJIANDUAN</prop> 
<prop key="/WEB-ROOT/app/jianshenjibenshezhi/huiyuankaleixing.do">HUIYUANKALEIXING</prop> 


<prop key="/WEB-ROOT/app/jiaolianxinxiguanli/jiaolianxinxi.do">JIAOLIANXINXI</prop> 
<prop key="/WEB-ROOT/app/paikexinxiguanli/paikexinxi.do">PAIKEXINXI</prop> 

<prop key="/WEB-ROOT/app/xiaofeiqiandaoguanli/xiaofeiqiandao.do">XIAOFEIQIANDAO</prop> 
<prop key="/WEB-ROOT/app/luntanhudongguanli/luntanhudong.do">LUNTANHUDONG</prop> 
<prop key="/WEB-ROOT/app/huiyuanxinxiguanli/zhucehuiyuan.do">ZHUCEHUIYUAN</prop> 
<prop key="/WEB-ROOT/app/huiyuanxuankeguanli/huiyuanxuanke.do">HUIYUANXUANKE</prop> 
<prop key="/WEB-ROOT/app/jianshenqixieguanli/jianshenqixiexinxi.do">JIANSHENQIXIEXINXI</prop> 





















			</props>
		</property>
	</bean>

	<bean id="Setup" class="app.pub.setup.Setup"></bean>
	<bean id="Login" class="app.login.LoginCMD"></bean>
	<bean id="home" class="app.index.Home"></bean>
	<bean id="topPanel" class="app.index.TopPanel"></bean>
	<bean id="index" class="app.index.Index"></bean>
	<bean id="MenuTree" class="app.pub.tree.MenuTree"></bean>
	<bean id="OrgComboTree" class="app.pub.ext.OrgComboTree"></bean>
	<bean id="MainMenuRedirect" class="app.pub.mainMenuRedirect.MainMenuRedirect"></bean>
	<bean id="SystemUserManage" class="app.sysManage.systemUserManage.SystemUserManage"></bean>
	<bean id="Setting" class="app.sysManage.setting.Setting"></bean>
	<bean id="UserMenuManage" class="app.sysManage.systemUserManage.UserMenuManage"></bean>
	<bean id="UserCombo" class="app.pub.ext.UserCombo"></bean>
	<bean id="OrgManage" class="app.sysManage.orgManage.OrgManage"></bean>
	<bean id="DB" class="app.helper.db.DB"></bean>
	<bean id="Code" class="app.helper.code.Code"></bean>
	<bean id="Tech" class="app.helper.tech.Tech"></bean>
	<bean id="HowSetup" class="app.helper.setup.Setup"></bean>
    <bean id="Uninstall" class="app.helper.uninstall.Uninstall"></bean>
    <bean id="FrontIndex" class="front.index.Index"></bean>
    <bean id="LANMUGUANLI" class="app.wangzhanguanli.lanmuguanli.Lanmuguanli"></bean> 
    <bean id="SHOUYEHUANDENGPIAN" class="app.wangzhanguanli.shouyehuandengpian.Shouyehuandengpian"></bean> 
	<bean id="WENZHANGGUANLI" class="app.wangzhanguanli.wenzhangguanli.Wenzhangguanli"></bean>
	<bean id="SYSTEMROLEMANAGE" class="app.sysManage.systemRoleManage.SystemRoleManage"></bean> 
	<bean id="RoleMenuManage" class="app.sysManage.systemRoleManage.RoleMenuManage"></bean>



<bean id="KECHENGLEIXING" class="app.jianshenjibenshezhi.kechengleixing.Kechengleixing"></bean> 
<bean id="JIAOLIANDENGJI" class="app.jianshenjibenshezhi.jiaoliandengji.Jiaoliandengji"></bean> 
<bean id="ZHIFUFANGSHI" class="app.jianshenjibenshezhi.zhifufangshi.Zhifufangshi"></bean> 
<bean id="SHOUKESHIJIANDUAN" class="app.jianshenjibenshezhi.shoukeshijianduan.Shoukeshijianduan"></bean> 
<bean id="HUIYUANKALEIXING" class="app.jianshenjibenshezhi.huiyuankaleixing.Huiyuankaleixing"></bean> 


<bean id="JIAOLIANXINXI" class="app.jiaolianxinxiguanli.jiaolianxinxi.Jiaolianxinxi"></bean> 
<bean id="PAIKEXINXI" class="app.paikexinxiguanli.paikexinxi.Paikexinxi"></bean> 

<bean id="XIAOFEIQIANDAO" class="app.xiaofeiqiandaoguanli.xiaofeiqiandao.Xiaofeiqiandao"></bean> 
<bean id="LUNTANHUDONG" class="app.luntanhudongguanli.luntanhudong.Luntanhudong"></bean> 
<bean id="ZHUCEHUIYUAN" class="app.huiyuanxinxiguanli.zhucehuiyuan.Zhucehuiyuan"></bean> 
<bean id="HUIYUANXUANKE" class="app.huiyuanxuankeguanli.huiyuanxuanke.Huiyuanxuanke"></bean> 
<bean id="JIANSHENQIXIEXINXI" class="app.jianshenqixieguanli.jianshenqixiexinxi.Jianshenqixiexinxi"></bean> 






















</beans>
