.login-form-container {
	padding: 30px;
	width: 375px;
	height: 550px;
	border-radius: 10px;
	box-shadow: 2px 2px 20px rgba($color: #000000, $alpha: 0.2);
	background-color: #fff;

	.title {
		text-align: center;
		color: #666666;
	}

	.ant-form {

		.verification-code {
			display: flex;
			.ant-image {
				margin-left: 10px;
			}
		}

		.remember {
			font-size: 12px;
			font-weight: 900;
			color: #ff8888;
		}

		.login-btn {
			display: flex;
			justify-content: center;
			.login-form-button {
				color: #40a9ff;
			}
		}
	}
}
