.login {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: #D6EAF8 ;

	.login-register-container {
		display: flex;
		position: relative;
		width: 910px;
		height: 460px;
		border-radius: 10px;
		box-shadow: 2px 2px 20px rgba($color: #000000, $alpha: 0.3);
		background-color: #f6f6f6;
		
		.over-container {
			z-index: 1;
			position: absolute;
			top: -100px;
			left: 50px;
			transition: all 0.5s ease;
		}
		.over-container-register {
			transform: translateX(375px);
		}

		.login-container,
		.register-container {
			// flex: 1;
			box-sizing: border-box;
			display: inline-block;
			width: 50%;
			height: 100%;
			padding: 30px;

			.title {
				margin: 20px;
				text-align: center;
			}

			.image {
				display: flex;
				justify-content: center;
			}
			.tip {
				margin: 20px 0 10px 0;
				text-align: center;
				color: #8E9AAF;
			}
			.button {
				display: flex;
				justify-content: center;

				.ant-btn {
					background-color: transparent;
				}
			}
		}
	}
}
