<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.boxmusic.mapper.CollectionMapper">
	<!--<cache-ref namespace="com.example.boxmusic.mapper.MusicMapper"/>-->
	<cache-ref namespace="com.example.boxmusic.mapper.UserMapper"/>

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.example.boxmusic.pojo.entity.Collection">
		<id column="collection_id" property="collectionId"/>
		<result column="user_id" property="userId"/>
		<result column="music_id" property="musicId"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
	</resultMap>

	<insert id="insertCollections">
		insert into collection(user_id, music_id) values
		<foreach collection="list" item="item" index="index" separator=",">
			(#{item.userId}, #{item.musicId})
		</foreach>
	</insert>
	<delete id="deleteCollection">
		delete from collection where user_id = #{userId} and music_id in (
		<foreach collection="musicIds" item="item" index="index" separator=",">
			#{item}
		</foreach>
		)
	</delete>
	<select id="getCollection" resultType="com.example.boxmusic.pojo.vo.MusicVO"
			resultMap="MusicWithCategoryAndSingerAndAlbumResultMap">
		select *
		from music,
			 collection
		where music.music_id = collection.music_id
		and user_id = #{userId}
	</select>
	<resultMap id="MusicWithCategoryAndSingerAndAlbumResultMap" type="com.example.boxmusic.pojo.vo.MusicVO">
		<association property="album" javaType="com.example.boxmusic.pojo.vo.AlbumVO" column="albumId=album_id"
					 select="getAlbumWithAlbumId">
		</association>
		<collection property="categories" javaType="java.util.ArrayList" column="musicId=music_id"
					select="getCategoriesWithMusicId">
		</collection>
		<collection property="singers" javaType="java.util.ArrayList" column="musicId=music_id"
					select="getSingersWithMusicId">
		</collection>
	</resultMap>
	<select id="getAlbumWithAlbumId" resultMap="com.example.boxmusic.mapper.AlbumMapper.AlbumVOResultMap">
		select *
		from album
		where album_id = #{albumId}
	</select>

	<select id="getCategoriesWithMusicId" resultMap="com.example.boxmusic.mapper.CategoryMapper.BaseResultMap">
		select *
		from music,
			 category,
			 music_category
		where music.music_id = music_category.music_id
		  and category.category_id = music_category.category_id
		  and music.music_id = #{musicId}
	</select>

	<select id="getSingersWithMusicId" resultMap="com.example.boxmusic.mapper.SingerMapper.BaseResultMap">
		select *
		from music,
			 singer,
			 music_singer
		where music.music_id = music_singer.music_id
		  and singer.singer_id = music_singer.singer_id
		  and music.music_id = #{musicId}
	</select>

</mapper>
