<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.boxmusic.mapper.MusicMapper">
	<cache-ref namespace="com.example.boxmusic.mapper.MusicMapper"/>
	
	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.example.boxmusic.pojo.entity.Music">
		<id column="music_id" property="musicId"/>
		<result column="music_title" property="musicTitle"/>
		<result column="music_pic" property="musicPic"/>
		<result column="lyric" property="lyric"/>
		<result column="album" property="album"/>
		<result column="genre" property="genre"/>
		<result column="duration" property="duration"/>
		<result column="size" property="size"/>
		<result column="level" property="level"/>
		<result column="music_format" property="musicFormat"/>
		<result column="bitrate" property="bitrate"/>
		<result column="total_views" property="totalViews"/>
		<result column="music_url" property="musicUrl"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
		<result column="deleted" property="deleted"/>
	</resultMap>
	<select id="getMusicsByMusicTitlePage" resultType="com.example.boxmusic.pojo.vo.MusicVO"
			resultMap="MusicWithCategoryAndSingerResultMap">
		select distinct *
		from music
		where deleted = 0
		  and music_title like concat('%', #{musicTitle}
			, '%')
	</select>
	
	<resultMap id="MusicWithCategoryAndSingerResultMap" type="com.example.boxmusic.pojo.vo.MusicVO">
		<collection property="categories" javaType="java.util.ArrayList" column="musicId=music_id"
					select="getCategoriesWithMusicId">
		</collection>
		<collection property="singers" javaType="java.util.ArrayList" column="musicId=music_id"
					select="getSingersWithMusicId">
		</collection>
	</resultMap>
	
	<select id="getCategoriesWithMusicId" resultMap="com.example.boxmusic.mapper.CategoryMapper.BaseResultMap">
		select *
		from music,
			 category,
			 music_category
		where music.music_id = music_category.music_id
		  and category.category_id = music_category.category_id
		  and music.music_id = #{musicId}
	</select>
	
	<select id="getSingersWithMusicId" resultMap="com.example.boxmusic.mapper.SingerMapper.BaseResultMap">
		select *
		from music,
			 singer,
			 music_singer
		where music.music_id = music_singer.music_id
		  and singer.singer_id = music_singer.singer_id
		  and music.music_id = #{musicId}
	</select>

</mapper>
