<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.boxmusic.mapper.PlaylistMapper">
<!--		<cache-ref namespace="com.example.boxmusic.mapper.UserMapper"/>-->
		<cache-ref namespace="com.example.boxmusic.mapper.PlaylistMapper"/>
	
	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.example.boxmusic.pojo.entity.Playlist">
		<id column="playlist_id" property="playlistId"/>
		<result column="playlist_name" property="playlistName"/>
		<result column="playlist_pic" property="playlistPic"/>
		<result column="user_id" property="userId"/>
		<result column="opened" property="opened"/>
		<result column="total_views" property="totalViews"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
	</resultMap>
	<select id="getPlaylistsByPlaylistNamePage" resultType="com.example.boxmusic.pojo.vo.PlaylistVO" resultMap="PlaylistWithUserResultMap">
		select distinct *
		from playlist
		where playlist_name like concat('%', #{playlistName}
			, '%')
	</select>
	
	<resultMap id="PlaylistWithUserResultMap" type="com.example.boxmusic.pojo.vo.PlaylistVO">
		<association property="user" javaType="com.example.boxmusic.pojo.vo.PureUserVO" column="userId=user_id"
					select="getUserWithUserId">
		</association>
	</resultMap>
	
	<select id="getUserWithUserId" resultMap="com.example.boxmusic.mapper.UserMapper.PureUserVOResultMap">
		select *
		from user
		where user.user_id = #{userId}
	</select>

</mapper>
