<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.boxmusic.mapper.SingerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.boxmusic.pojo.entity.Singer">
        <id column="singer_id" property="singerId" />
        <result column="singer_name" property="singerName" />
        <result column="singer_pic" property="singerPic" />
        <result column="total_views" property="totalViews" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

</mapper>
