<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.boxmusic.mapper.UserRoleMapper">
<!--	<cache-ref namespace="com.example.boxmusic.mapper.ApiMapper"/>-->
	<cache-ref namespace="com.example.boxmusic.mapper.UserMapper"/>
	
	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.example.boxmusic.pojo.entity.UserRole">
		<id column="user_role_id" property="userRoleId"/>
		<result column="user_id" property="userId"/>
		<result column="role_id" property="roleId"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
	</resultMap>
	<select id="getUserRolesWithUsernamePage" resultType="com.example.boxmusic.pojo.vo.UserWithRoleVO"
			resultMap="UserRoleResultMap">
		select *
		from user
		where username like concat('%', #{username}
			, '%')
		  and user.deleted != 1
	</select>
	
	<resultMap id="UserRoleResultMap" type="com.example.boxmusic.pojo.vo.UserWithRoleVO">
		<id column="user_id" jdbcType="BIGINT" property="userId"/>
		<result column="username" jdbcType="VARCHAR" property="username"/>
		<collection property="roleList" javaType="java.util.ArrayList" column="userId=user_id"
					select="getRolesWithUserId">
		</collection>
	</resultMap>
	
	<select id="getRolesWithUserId" resultType="com.example.boxmusic.pojo.vo.RoleVO">
		select role.role_id, role_name from user, user_role, role
		where user.user_id = user_role.user_id
		  and role.role_id = user_role.role_id
		  and user.user_id = #{userId}
	</select>

</mapper>
