<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.oauth2_demo.mapper.RoleMapper">
    <!--<cache type="com.example.oauth2_demo.cache.RedisCache"/>-->
    <cache-ref namespace="com.example.oauth2_demo.mapper.RoleMapper"/>

    <select id="getRolesByUsername" resultType="java.lang.String">
        select role from user, user_role, role
        where user.user_id = user_role.user_id
        and role.role_id = user_role.role_id
        and username = #{username}
    </select>
</mapper>
